body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u32 {
  position:absolute;
  left:65px;
  top:21px;
  width:300px;
  height:19px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:948px;
  height:6px;
}
#u34 {
  position:absolute;
  left:65px;
  top:44px;
  width:945px;
  height:3px;
  color:#363636;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u36 {
  position:absolute;
  left:65px;
  top:57px;
  width:300px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
}
#u38 {
  position:absolute;
  left:65px;
  top:82px;
  width:945px;
  height:105px;
  font-size:12px;
  color:#363636;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
}
#u40 {
  position:absolute;
  left:65px;
  top:195px;
  width:945px;
  height:15px;
  font-size:12px;
  color:#363636;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
}
#u42 {
  position:absolute;
  left:65px;
  top:220px;
  width:945px;
  height:15px;
  font-size:12px;
  color:#363636;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#363636;
}
#u44 {
  position:absolute;
  left:65px;
  top:245px;
  width:945px;
  height:15px;
  font-size:12px;
  color:#363636;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  word-wrap:break-word;
}
